
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.page-container {
	background-color: white;
	height: 50px;
	width: 100%;
	/*Flex*/
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-flow: row wrap;
}
.sp-btn {
	display: flex;
	justify-content:center;
}

.flex_d {
	display: -webkit-box !important;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox !important;  /* TWEENER - IE 10 */
 	display: -webkit-flex !important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
 	display: flex !important; 
}

.navig {
	width:40%;
	/*Flex*/
	display: flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:flex-end;
	margin-right: 20px;

}


.navig a, .navig .chirp {
	text-decoration: none;
	text-align: center;
	margin: 2px;
	width: 22%;
}



.chirp {
	background-color: #6CB782;
	background-image: url("/images/chirp-icon.svg");
	background-repeat: no-repeat;
	background-position: 8px;
	border: 1px solid #71AC83;
	border-radius: 3px;
	color: white;
	padding: 7px 20px;
	padding-left: 35px;
	padding-right: 45px;
	font-size: 15px;
	outline: none !important;
	font-weight: bold;
	width: 90% !important;

}

.navig a {
	display: flex;
	display: -moz-box;
	align-items:center;
}



.avatar {
	height: 100%;
}

.logo {
	background-image: url("/images/logotype.svg");
	width: 113px;
	height: 39px;
	margin-left: 10px;
}

html, body {

	width: 100%;

}

body {
	max-height: 20%;
	background: #EEE;
}


.log-container {
	width: 100%;
	display: flex;
	display: -moz-box;
	flex:1;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
}

.login {
	width: 30%;
	background: #EEE;
	height: 250px;
	margin-bottom: 16%;
	border-radius: .2rem;
}

.form_login {
	display: flex;
	display: -moz-box;
	flex-direction: column;
	height: 100%;
	justify-content:space-around;
	align-items:center;
}

.form_login div {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content:center;
	width: 80%;
}

.logo_input {
	background: #CCC;
	position: relative;
	width: 20%;
	align-items:center;
	display: flex;
	justify-content:center;

}


.form_login div input {
	border-radius: .25rem;
	width: 100%;
}

.input_login {
	padding-left: 2rem;
	border-radius: 0 .25rem .25rem 0 !important;
}

.facebook {
	width: 100%;
	background: blue;

}

.fbk_btn {
	width: 100%;
	background: #49639F;
	color: #FFF;
}

.fbk_btn>i {
	float: left;
	position: relative;
	width: 20px;
  	top: 2px;
  	left: 10%;
}