<header class="page-container flex_d">

    <div class="logo"></div>

    <nav class="navig flex_d">
      	{{link-to "Materias" "materia"}}
      
      	{{#link-to "user" class="flex_d"}}
        	<img class="avatar" src="/images/avatar.png" />
        	t4t5 <!-- You can change this to your own username -->
      	{{/link-to}}
	 	{{!-- {{#if SesionIniciada}} --}}
      {{#if session.isAuthenticated}}
             <span class="sp-btn" {{action 'invalidateSession'}}>{{#link-to "home" class="chirp"}} LogoutFB {{/link-to}}</span>
        
     	{{else}}	
        {{#if activeN}} 
            <span class="sp-btn"{{action 'logout'}}>{{#link-to "home" class="chirp"}} LogoutN {{/link-to}}</span>
        {{else}}
            <span class="sp-btn" >{{#link-to "home" class="chirp"}}Login{{/link-to}}</span>
        {{/if}}
        
     	{{/if}}
    </nav>


</header>

{{outlet}}


